.App {
  display: flex;
}

.sidebar {
  width: 200px;
  background-color: #f8f9fa;
  padding: 20px;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  cursor: pointer;
  padding: 10px 0;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.menu-item i {
  margin-right: 10px;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}
